body {
    margin: 0px;
}

h1, h2, h3, h4, p, li, ol ul {
    font-family: Arial, Helvetica, sans-serif;
}







/* HEADER CSS */
#header {
    background-color: #E3D5CA;
    text-align: right;
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 30;
}

#header p {
    padding-right: 25px;
}






/* CONTENT CSS */
#content {
    display: flex;
    width: 100%;
}

/* LEFT COLUMN SIDE CSS */
#leftside {
    width: 75%;
    position: relative;

    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
}

/* RIGHT COLUMN SIDE CSS */
#rightside {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #F5EBE0;
    z-index: 10;
}

#rightside h1 {
    text-align: center;
    justify-content: center;
    margin-bottom: 0px;
}

#rightside img {
    width: 50%;
    height: 350px;
    object-fit: cover;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#rightside p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}






/* FOOTER CSS */
#footer {
    background-color: #E3D5CA;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
}    