
        
        .like{
            width: 50px;
            height: 20px;
            background-color: white;
            border-radius: 10px 10px 10px 10px;
            text-align: center;
            margin: 10px;
            float: right;
        }

        body {
            background-color: #EAEAEA;
            color: black;
            font-family: 'Helvetica Neue';
        
        }
        
        .header {
            width: 95%;
            overflow: hidden;
            font-family: 'Helvetica Neue';
        }
        
        h1 {
            font-weight: 700;
            font-size: 340.173px;
            line-height: 415px;
            letter-spacing: 0.05em;
            margin: 0px;
        }
        
        .heading {
            text-align: center;
        }
        
        .headingtext{
            text-decoration: none;
            
        }
        
        
        .nav {
            float: right;
            font-size: 18px;
            font-weight: normal;
            color: black;
            text-decoration: none;
            line-height: 50px;
            margin: 10px; 
            font-family: 'Helvetica Neue';
        }

        #logo {
            width: 100%;
            font-family: 'Helvetica Neue';
            font-style: normal;
            font-weight: 700;
            font-size: 65px;
            line-height: 91px;
            letter-spacing: 0.05em;
            color: #000000;
            text-align: center;
            margin-left: 200px;

        }


        .nav:hover {
            color: #8a837c;
        }

        .searchcontainer {
            border: black;
            position: absolute;
            width: max-content;
            margin-top: 13px;
            padding: 10px;
            margin-left: 50px;

        }

        .searchbar {
            background-color: #EAEAEA;
            border-color: black;
            border-width: 1.5px;
            border-radius: 5px;
            background-image: url('searchicon.png');
            background-position: 6px 5px;
            background-repeat: no-repeat;
            background-size: 15px;
            padding: 6px 16px 6px 30px;
        }
        
        body{
            font-family: Helvetica, sans-serif;
        }
        #header {
            background-color: #E3D5CA;
            text-align: right;
            width: 100%;
            height: 50px;
            position: absolute;
            z-index: 30;
        }
        
        #header p {
            padding-right: 25px;
        }
        #title{
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            font-size:60pt;
        }
        #main{
        width: 95%;
        display: flex;
        justify-content: center;
        }
        #graphic{
            width: 60%;
            margin: auto;
            padding: 10px;
            height: 300px;
            display: flex;
            justify-content: center;
        }
        .pic{
            width: 15%;
            height: 250px;
            float: left;
            padding: 5px;
        }
        #outfits{
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: center;
        }
        .outfit{
            width: 30%;
            border-radius:10px 10px 10px 10px;
            border: solid 1px  rgb(57, 43, 28);
            float: left;
            padding: 10px;
            margin: 10px;

        }
        .opic{
            width: 100%;
            margin: auto;
            border-radius:10px 10px 10px 10px;
        }
        a{
            text-decoration: none;
            color:rgb(0, 0, 0)
        }

        a:hover{
            color:rgb(88, 77, 68);
        }


@media screen and (max-width: 1100px) {
    .searchcontainer {
        border: black;
        position: absolute;
        width: max-content;
        margin-top: 13px;
        padding: 10px;
        margin-left: 50px;
    }
    
    .searchbar {
        background-color: #EAEAEA;
        border-color: black;
        border-width: 1.5px;
        border-radius: 5px;
        background-image: url('searchicon.png');
        background-position: 6px 5px;
        background-repeat: no-repeat;
        background-size: 15px;
        width: 30px;
    }
    
    #logo{
        font-size: 50px;
    }  
}

@media screen and (max-width: 640px) {
    .nav{
        font-size: 17px;
    }
    
     #logo{
        font-size: 30px;
    }
    
     .searchcontainer {
        border: black;
        position: absolute;
        width: max-content;
        margin-top: 13px;
        padding: 10px;
        margin-left: 50px;
    
    }
    
    .searchbar {
        background-color: #EAEAEA;
        border-color: black;
        border-width: 1.5px;
        border-radius: 5px;
        background-image: url('searchicon.png');
        background-position: 6px 5px;
        background-repeat: no-repeat;
        background-size: 15px;
        width: 30px;
    }
}


