
        
        
        body {
            background-color: #EAEAEA;
            color: black;
            font-family: 'Helvetica Neue';
        
        }
        
        .header {
            width: 95%;
            overflow: hidden
        }
        
        h1 {
            font-weight: 700;
            font-size: 340.173px;
            line-height: 415px;
            letter-spacing: 0.05em;
            margin: 0px;
        }
        
        .heading {
            text-align: center;
        }
        
        .headingtext{
            text-decoration: none;
            
        }
        
        
        .nav {
            float: right;
            font-size: 18px;
            font-weight: normal;
            color: black;
            text-decoration: none;
            line-height: 50px;
            margin: 10px;
        }
        
        .nav:hover {
            color: #8a837c;
        }
        
        .searchcontainer {
            border: black;
            position: absolute;
            width: max-content;
            margin-top: 13px;
            padding: 10px;
            margin-left: 50px;
        
        }
        
        .searchbar {
            background-color: #EAEAEA;
            border-color: black;
            border-width: 1.5px;
            border-radius: 5px;
            background-image: url('searchicon.png');
            background-position: 6px 5px;
            background-repeat: no-repeat;
            background-size: 15px;
            padding: 6px 16px 6px 30px;
        }
        
        body{
            font-family: Helvetica, sans-serif;
        }
        #header {
            background-color: #E3D5CA;
            text-align: right;
            width: 100%;
            height: 50px;
            position: absolute;
            z-index: 30;
        }
        
        #header p {
            padding-right: 25px;
        }
        #title{
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            font-size:60pt;
        }
        #main{
        width: 95%;
        display: flex;
        justify-content: center;
        }
        #graphic{
            width: 60%;
            margin: auto;
            padding: 10px;
            height: 300px;
            display: flex;
            justify-content: center;
        }
        .pic{
            width: 15%;
            height: 250px;
            float: left;
            padding: 5px;
        }
        #outfits{
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: center;
        }
        #outfit{
            width: 30%;
            border-radius:10px 10px 10px 10px;
            border: solid 1px  rgb(57, 43, 28);
            float: left;
            padding: 10px;
            margin: 10px;

        }
        .opic{
            width: 100%;
            height: 415px;
            padding: 10px;
            margin: auto;
            border-radius:10px 10px 10px 10px;

        }
        a{
            text-decoration: none;
            color:rgb(0, 0, 0)
        }

        a:hover{
            color:rgb(88, 77, 68);
        }

@media screen and (max-width: 640px) {
                        .header {
                width: 100%;
                padding-top: 50px;
            }

            .nav {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                margin: 0;
                width: 50%;
            }

            .searchcontainer {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 25px;
                margin-left: 165px;
            }

            .searchbar {
                width: 100%;
            }

            #outfits {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                align-items: center;
            }

            #outfit {
                width: 75%;
            }

            .pic {
                width: 100%;
            }
          }

/*         @media screen and (max-width: 640px) {
            .header {
              width: 100%;
              padding-top: 50px;
            }
          
            .nav {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              text-align: center;
              margin: 0;
              width: 50%;
            }
          
            .searchcontainer {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-top: 25px;
              margin-left: 165px;
            }
          
            .searchbar {
              width: 80%;
            }

            .header {
                width: 95%;
                overflow: hidden
            }
            
            h1 {
                font-weight: 700;
                font-size: 340.173px;
                line-height: 415px;
                letter-spacing: 0.05em;
                margin: 0px;
            }
            
            .heading {
                text-align: center;
            }
            
            .headingtext{
                text-decoration: none;
                
            }
            
            
            .nav {
                float: right;
                font-size: 18px;
                font-weight: normal;
                color: black;
                text-decoration: none;
                line-height: 50px;
                margin: 10px;
            }
            
            .nav:hover {
                color: #8a837c;
            }
            
            .searchcontainer {
                border: black;
                position: absolute;
                width: max-content;
                margin-top: 13px;
                padding: 10px;
                margin-left: 50px;
            
            }
            
            .searchbar {
                background-color: #EAEAEA;
                border-color: black;
                border-width: 1.5px;
                border-radius: 5px;
                background-image: url('searchicon.png');
                background-position: 6px 5px;
                background-repeat: no-repeat;
                background-size: 15px;
                padding: 6px 16px 6px 30px;
            }
            
            #header {
                background-color: #E3D5CA;
                text-align: right;
                width: 100%;
                height: 50px;
                position: absolute;
                z-index: 30;
            }
            
            #header p {
                padding-right: 25px;
            }
            #title{
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: center;
                font-size:60pt;
            }
            #main{
            width: 95%;
            display: flex;
            justify-content: center;
            }
            #graphic{
                width: 60%;
                margin: auto;
                padding: 10px;
                height: 300px;
                display: flex;
                justify-content: center;
            }
            .pic{
                width: 30%;
                height: 250px;
                float: left;
                padding: 5px;
            }
            #outfits{
                width: 100%;
                margin: auto;
                padding: 10px;
                display: flex;
                justify-content: center;
            }
            #outfit{
                width: 50%;
                border-radius:10px 10px 10px 10px;
                border: solid 1px  rgb(57, 43, 28);
                float: left;
                padding: 10px;
                margin: 10px;
                display: flex;
                justify-content: center;
    
            }
            .opic{
                width: 95%;
                height: 415px;
                padding: 10px;
                margin: auto;
                border-radius:10px 10px 10px 10px;
            }
            #text{
                clear: both;
                width: 95%;
            }
         } */
        
      



