.header {
    width: 95%;
    overflow: hidden;
    font-family: 'Helvetica Neue';
}

.nav {
    float: right;
    font-size: 18px;
    font-weight: normal;
    color: black;
    text-decoration: none;
    line-height: 50px;
    margin: 10px; 
    font-family: 'Helvetica Neue';
}

.nav:hover {
    color: #8a837c;
}

.searchcontainer {
    border: black;
    position: absolute;
    width: max-content;
    margin-top: 13px;
    padding: 10px;
    margin-left: 50px;

}

.searchbar {
    background-color: #EAEAEA;
    border-color: black;
    border-width: 1.5px;
    border-radius: 5px;
    background-image: url('searchicon.png');
    background-position: 6px 5px;
    background-repeat: no-repeat;
    background-size: 15px;
    padding: 6px 16px 6px 30px;
}

@media screen and (max-width: 1100px) {
    .searchcontainer {
        border: black;
        position: absolute;
        width: max-content;
        margin-top: 13px;
        padding: 10px;
        margin-left: 50px;
    }
    
    .searchbar {
        background-color: #EAEAEA;
        border-color: black;
        border-width: 1.5px;
        border-radius: 5px;
        background-image: url('searchicon.png');
        background-position: 6px 5px;
        background-repeat: no-repeat;
        background-size: 15px;
        width: 30px;
    }
    
    #logo{
        font-size: 50px;
    }  
}

@media screen and (max-width: 640px) {
    .nav{
        font-size: 17px;
    }
    
     #logo{
        font-size: 30px;
    }
    
     .searchcontainer {
        border: black;
        position: absolute;
        width: max-content;
        margin-top: 13px;
        padding: 10px;
        margin-left: 50px;
    
    }
    
    .searchbar {
        background-color: #EAEAEA;
        border-color: black;
        border-width: 1.5px;
        border-radius: 5px;
        background-image: url('searchicon.png');
        background-position: 6px 5px;
        background-repeat: no-repeat;
        background-size: 15px;
        width: 30px;
    }
}
